In [3]:
# Import the dependencies.
# use Pandas to read CSV file, create the locations & measurements from the DataFrame
import pandas as pd  

# use gmaps & the API key to create heatmaps and the locations map
import gmaps

# use requests to request to the Google Places JSON file. This allows us to get hotel locations from the lats & lng of the city
import requests

# Import the API key.
from config import g_key

In [4]:
# Read cities.csv into a DataFrame
city_data_df= pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vao,NC,2021-09-25 22:29:14,-22.6667,167.4833,68.29,59,17,10.04
1,1,Khatanga,RU,2021-09-25 22:28:23,71.9667,102.5000,28.71,92,92,10.07
2,2,Dargaville,NZ,2021-09-25 22:29:14,-35.9333,173.8833,58.24,89,59,7.27
3,3,Tucuman,AR,2021-09-25 22:29:15,-26.8241,-65.2226,86.00,21,0,14.97
4,4,Eugene,US,2021-09-25 22:28:50,44.0521,-123.0867,84.38,40,20,1.01

In [5]:
# Check the data types for the columns of our DataFrame b/c data using for any mapping must be an integer or a floating-point decimal number.
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key= g_key)

In [6]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. GG map does not plot negative #. For loop is to eliminate negative temp, If the temp i< 0, then 0 will be added to the list in its place. Otherwise, the temp is added to the list.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a min and max temperature value, floating point
min_temp= float(input("What is the minimum temperature you would like for your trip?"))
max_temp= float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [60]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Tucuman,AR,2021-09-25 22:29:15,-26.8241,-65.2226,86.00,21,0,14.97
4,4,Eugene,US,2021-09-25 22:28:50,44.0521,-123.0867,84.38,40,20,1.01
11,11,Iralaya,HN,2021-09-25 22:29:17,15.0000,-83.2333,77.09,88,100,13.22
21,21,Santa Cruz,BO,2021-09-25 22:28:28,-17.8000,-63.1667,87.26,45,0,10.36
24,24,Tautira,PF,2021-09-25 22:29:22,-17.7333,-149.1500,80.62,79,12,13.49
25,25,Butaritari,KI,2021-09-25 22:29:22,3.0707,172.7902,82.98,75,50,10.51
29,29,Honiara,SB,2021-09-25 22:29:24,-9.4333,159.9500,83.95,72,17,4.76
41,41,Bathsheba,BB,2021-09-25 22:29:29,13.2167,-59.5167,83.01,78,40,5.75
42,42,Bengkulu,ID,2021-09-25 22:29:29,-3.8004,102.2655,75.58,92,100,2.21
50,50,Itaituba,BR,2021-09-25 22:29:32,-4.2761,-55.9836,77.36,76,80,0.87

In [13]:
# Are there any null values in the preferred_cities_df DataFrame?
preferred_cities_df.count()
#preferred_cities_df.isnull().sum()
#preferred_cities_df.notnull().sum()

City ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [14]:
# Copy preferred_city_df to hotel_df to hold hotel name, city, country, max temp & coordinates:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]= ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
3      Tucuman      AR     86.00 -26.8241  -65.2226
4       Eugene      US     84.38  44.0521 -123.0867
11     Iralaya      HN     77.09  15.0000  -83.2333
21  Santa Cruz      BO     87.26 -17.8000  -63.1667
24     Tautira      PF     80.62 -17.7333 -149.1500
25  Butaritari      KI     82.98   3.0707  172.7902
29     Honiara      SB     83.95  -9.4333  159.9500
41   Bathsheba      BB     83.01  13.2167  -59.5167
42    Bengkulu      ID     75.58  -3.8004  102.2655
50    Itaituba      BR     77.36  -4.2761  -55.9836

In [64]:
# Set parameters to search for a hotel:
params = {"radius": 5000, "type": "lodging", "key": g_key}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the lat and lng to location key for the params dictionary
    params["location"]=f"{lat},{lng}"
        
    # Use the search term: "lodging" and our latitude & longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the 1st hotel from the results & store the name
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [44]:
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng               Hotel Name
3      Tucuman      AR     86.00 -26.8241  -65.2226              HOTEL MIAMI
4       Eugene      US     84.38  44.0521 -123.0867         Valley River Inn
11     Iralaya      HN     77.09  15.0000  -83.2333  Iglesia morava renovada
21  Santa Cruz      BO     87.26 -17.8000  -63.1667   Aviador Hotel Boutique
24     Tautira      PF     80.62 -17.7333 -149.1500             Pension Oaoa
25  Butaritari      KI     82.98   3.0707  172.7902       Isles Sunset Lodge
29     Honiara      SB     83.95  -9.4333  159.9500      Heritage Park Hotel
41   Bathsheba      BB     83.01  13.2167  -59.5167           Atlantis Hotel
42    Bengkulu      ID     75.58  -3.8004  102.2655     Grage Hotel Bengkulu
50    Itaituba      BR     77.36  -4.2761  -55.9836             Hotel Campos

In [68]:
# Add a heatmat of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]